{% extends 'base.html.twig' %}

{% block title %}
  {{ 'ordre.add'|trans }}
{% endblock %}
{% block title_block %}
  {{ 'ordre.add'|trans }}
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="pt-2">
      {{ form_start(form) }}

      <div class="row">
        <div class="col">
          {{ form_row(form.any) }}
        </div>
        <div class="col">
          {{ form_row(form.dataCreacio) }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form_row(form.tasca) }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form_row(form.dataEntrada) }}
        </div>
        <div class="col">
          {{ form_row(form.dataSortida) }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form_row(form.combustible) }}
        </div>
        <div class="col">
          {{ form_row(form.quilometres) }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form_row(form.vehicle) }}
        </div>
        <div class="col">
          {{ form_row(form.pressupost) }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ form_row(form.iva) }}
        </div>
        <div class="col">
          {{ form_row(form.estat) }}
        </div>
      </div>
	  <div class="row">
        <div class="col">
          {{ form_row(form.autoritzacio) }}
        </div>
        
      </div>


      {{ form_rest(form) }}

      <div class="w-100 text-center">
        <button type="submit" class="btn btn-outline-primary">
          <i class="fa fa-paper-plane"></i> Guardar
        </button>
      </div>

      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
