{% extends 'base.html.twig' %}

{% block title %}
  {{ 'agenda.agendes'|trans }}
{% endblock %}
{% block title_block %}
  {{ 'agenda.agendes'|trans }}
{% endblock %}
{% block body %}
  <div class="container mt-4">
    {% for u in usuaris %}

	<a class="btn btn-outline-dark btn-lg btn-block" href="/agenda/{{u.id}}" role="button"> {{ u.nom }} {{u.cognom}}</a>
     
    {% endfor %}
	
  </div>
  <div class="container mt-4" >
  <a href="/agenda/events" class="btn btn-outline-primary btn-lg btn-block" role="button">
      {{ 'agenda.llistat'|trans }} 
    </a>
  </div>
{% endblock %}
