{% extends 'base.html.twig' %}

{% block title %}
  {{ 'agenda.events'|trans }}
{% endblock %}
{% block title_block %}
  {{ 'agenda.events'|trans }}
{% endblock %}

{% block body %}
   <div class="row">
    <a href="/agenda/afegir" class="btn btn-primary m-3" role="button">
      {{ 'agenda.add'|trans }}
    </a>
  </div> 
  <div class="table-responsive">
    <div id="events">
      Loading...
    </div>
  </div>




{% endblock %}
{% block javascripts %}
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
  
  <script>
    $(function() { 
      var dt = $('#events').initDataTables(
        {{datatable_settings(datatable)}},   
        {   
          searching: true, 
          dom: 'Bfrtip', 
         // "fnDrawCallback": afegirIdFactura
        }
      );
    });

  </script>
{% endblock %}


