{% extends 'base.html.twig' %}

{% block title %}
  {{ 'pressupost.list'|trans }}
{% endblock %}
{% block title_block %}
  {{ 'pressupost.list'|trans }}
{% endblock %}

{% block body %}
  <div class="row">
    <a href="/pressupostos/afegir" class="btn btn-primary m-3" role="button">
      {{ 'pressupost.add'|trans }}
    </a>
  </div>

  <div class="table-responsive">
    <div id="pressupostos">
      Loading...
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>

  <script>
    $(function() { var dt = $('#pressupostos').initDataTables({{
      datatable_settings(datatable)
    }}, { searching: true, dom: 'Bfrtip'

    });

    });
  </script>
{% endblock %}
