{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Cognoms</th>
                <th>Adreça</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <th scope="row">{{ client.id }}</th>
                <td>{{ client.nom }}</td>
                <td>{{ client.cognoms }}</td>
                <td>{{ client.adreca }}</td>
                <td>{{ client.telefon }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.dni }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
