<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>

    <link rel="apple-touch-icon"
      sizes="180x180"
      href="{{ asset('favicon/apple-touch-icon.png') }}" />
    <link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ asset('favicon/favicon-32x32.png') }}" />
    <link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ asset('favicon/favicon-16x16.png') }}" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheets2 %}

    {% endblock %}
    {% block stylesheets %}
      {# 'app' must match the first argument to addEntry() in webpack.config.js #}
      {{ encore_entry_link_tags('app') }}
      <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css" />
      <link rel="stylesheet" href="/build/bootstrap-datetimepicker.min.css" />
      <link rel="stylesheet" href="/build/app.css" />
    {% endblock %}
  </head>
  <body class="skin-blue">
    {% include '_partials/_header.html.twig' %}
    {% include '_partials/_sidebar.html.twig' %}

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">
                {% block title_block %}

                {% endblock %}
              </h1>
            </div>
          </div>
        </div>
      </div>

      <section class="content">
        <div class="container-fluid">
          {% include '_partials/messages_flashes.html.twig' %}

          {% block body %}

          {% endblock %}
        </div>
      </section>

      
    </div>

    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}

    {% endblock %}
  </body>
</html>
